# DATABASE
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=db
DB_HOST=host
DB_PORT=0000

DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_HOST}?schema=public"

# AUTHENTICATION
JWT_ACCESS_TOKEN_SECRET=jwt-access-s3cret
JWT_REFRESH_TOKEN_SECRET=jwt-refresh-s3cret